* {
  font-family: "Jost", sans-serif;
}

.main {
  background-image: url("../img/qr-desktop-background.png");
  background-size: 100% 100%;
}

.row {
  display: grid !important;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 20%;
}

.form-flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2%;
}
